
<div id="container">
	<div class="row" id="navbar">
		<div class="span3">
			<img src="assets/img/logo.png"  />
		</div>
		<div class="span9">
			<div class="row">
				<div class="span3 offset7">
					<a href="#">Register</a>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<a href="#">Login</a>
					</div>
			</div>
			<div class="row">
				<div class="span3 offset1">
					<h2>Now exploring: </h2>
				</div>
				<div class="span3">
					<form class="navbar-form pull-left navform">
				  		<input type="text" class="span3" value="Berkeley, CA">
					</form>
				</div>
			</div>
			<div class="row">
				<div class="navbar">
				  <div class="navbar-inner">

						<ul class="nav">
						  <li><a href="#">Ask Questions</a></li>
						  <li><a href="#">Connect to Others</a></li>
						  <li><a href="#">Post Challenges</a></li>
						  <li><a href="#">Organize Events</a></li>
						  <li><a href="#">Projects</a></li>
						</ul>

				  </div>
				</div>
			</div>
		</div>
	</div>
	<div id="content">	
		<br>
		<h1>Ask a Question</h1>
		<br><br>	
	    <div class="row span6 question_form">
	        <h3>I want to ask about...</h3><br>
	        <form>  
				<label>What is your question?</label>
				<input type="text" class="span5"> 
				<br>
				<label>Location</label>
				<input type="text" class="span5">  
				<br>   
				<label>Categories</label>
				<label class="checkbox check_indent">  
				<input type="checkbox"> Dignity and Rights 
				</label>  
				<label class="checkbox check_indent">  
				<input type="checkbox"> Education 
				</label>  
				<label class="checkbox check_indent">  
				<input type="checkbox"> Health & Safety
				</label>  
				<label class="checkbox check_indent">  
				<input type="checkbox"> Public Space
				</label>  
				<label class="checkbox check_indent">  
				<input type="checkbox"> Transportation
				</label>  
				<input type="text" class="span3" style="margin-left:15px;" placeholder="Keyword Filter">  
				<button type="submit" class="btn" style="margin-bottom:10px;">Add</button> 
				<br>
				<label>Description</label>
				<h3>RICH TEXT BOX</h3>
				<label class="checkbox">  
				<input type="checkbox"> Transportation
				</label>  
				<button type="submit" class="btn">Post Question</button>
			</form>  
	    </div>
	    <div class="span5">
	        <h3> Sample questions asked in <input type="text" class="span2" placeholder="Berkeley, CA"/> </h3>
				<ul class="related_list unstyled">
					<li class="row">
						<a href="#" >
						<img src="http://placehold.it/98x50" class="span2" align="left" />		
						</a>
						<div class="span3">
						<h4>Question Title</h4>							
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
						</div>
					</li>
					<li class="row">
						<a href="#" >
						<img src="http://placehold.it/98x50" class="span2" align="left" />		
						</a>
						<div class="span3">
						<h4>Question Title</h4>							
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
						</div>
					</li>
					<li class="row">
						<a href="#" >
						<img src="http://placehold.it/98x50" class="span2" align="left" />		
						</a>
						<div class="span3">
						<h4>Question Title</h4>							
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum.
						</div>
					</li>
				</ul>      
	    </div>

	</div>
</div>


