<script type="text/javascript">
  function sign(){
}

function register(){
}
</script>

<div id="container">

    <div id="content">
      <br>
      <h1>Sign in or Register</h1>
      <br><br>
      <div class="row">
        <div class="span4 offset1 register">
          <h3>Please sign in:</h3><br>
          <%= render 'form' %>
        </div>
        <div class="span5 register">
          <h3>Please register:</h3><br>
         <%= render 'register' %>
          </form>
        </div>

      </div>
    </div>
    <br><BR><BR>
  </div>
</body>
