<%= form_for(@betauser) do |f| %>
  <% if @betauser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@betauser.errors.count, "error") %> prohibited this betauser from being saved:</h2>

      <ul>
      <% @betauser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
