<script type="text/javascript">
function sign(){
}

function register(){
}
</script>

<div id="container">

    <div id="content">
      <br>
      <h1>Welcome to the Beta</h1>
      <br><br>
      <div class="row">
        <div class="span4 offset1 register">
          <h3>Please apply for BETA:</h3><br>
          <%= render 'form' %>
        </div>
        <div class="span5 register">
          <h3>Please register with BETA key:</h3><br>
         <%= render 'register' %>
          </form>
        </div>
      </div>
    </div>
    <br><BR><BR>
  </div>
</body>
