<div id="container">

    <div id="content">

      <div class="row">
        <div id="group_profile_banner">
        <div class="span10">

          <h1> <%= @group.title %>'s Profile </h1>
        </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span6">
          <ul class="unstyled list-inline">
            <li><a href="#">Send a Message</a>
            </li><li><a href="#">See Active Projects</a>
            </li><li><a href="#">Subscribe</a>
            </li><li><a href="#">Members</a></li>
          </ul>
        </div>
        <div class="span4 offset1">
          <ul class="unstyled list-inline">
            <li><a href="#">Edit</a>
            </li><li><a href="#">Create New Project</a>
            </li><li><a href="#">Login as Group</a></li>
          </ul>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span2">
          <img src="http://placehold.it/120x120"/>
        </div>
        <div class="span9">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum. Cras eleifend, mauris vitae pretium varius, nisl urna laoreet ligula, sit amet lacinia est sem tincidunt odio. Nulla cursus tempus odio et ornare. Fusce posuere, lorem sed vulputate gravida, odio purus tincidunt velit, eleifend laoreet erat quam nec risus. Fusce mauris enim, ultricies a mattis in, consectetur a purus. Nullam lacinia lectus vitae mauris interdum non convallis mi mattis. Vestibulum felis quam, viverra sit amet fermentum eu, tristique et neque. Quisque at vestibulum mauris. Morbi id nibh nisi, et consectetur urna. Etiam non mauris augue. Phasellus ullamcorper gravida justo, ut elementum lorem faucibus ac. Donec libero erat, porta at porta in, dignissim ut enim.
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="span10"><h2> Recent Activity </h2></div>
      </div>
      <div class="row">
          <ul id="user_activity">
            <li class="row color_event">
              <div class="span2">
                <img src="http://placehold.it/110x60/"/>
              </div>
              <div class="span9">
                <div class="user_activity_content">
                <b>TITLE -- Event</b>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum. Cras eleifend, mauris vitae pretium varius, nisl urna laoreet ligula, sit amet lacinia est sem tincidunt odio.
                </div>
              </div>

            </li>
            <li class="row color_question">
              <div class="span2">
                <img src="http://placehold.it/110x60/"/>
              </div>
              <div class="span9">
                <div class="user_activity_content">

                <b>TITLE -- Question</b>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum. Cras eleifend, mauris vitae pretium varius, nisl urna laoreet ligula, sit amet lacinia est sem tincidunt odio.
                </div>
              </div>

            </li>
            <li class="row color_challenge">
              <div class="span2">
                <img src="http://placehold.it/110x60/"/>
              </div>
              <div class="span9">
                <div class="user_activity_content">
                <b>TITLE -- Challenge</b>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum. Cras eleifend, mauris vitae pretium varius, nisl urna laoreet ligula, sit amet lacinia est sem tincidunt odio.
                </div>
              </div>

            </li>
            <li class="row color_event">
              <div class="span2">
                <img src="http://placehold.it/110x60/"/>
              </div>
              <div class="span9">
                <div class="user_activity_content">
                <b>TITLE -- Event</b>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum. Cras eleifend, mauris vitae pretium varius, nisl urna laoreet ligula, sit amet lacinia est sem tincidunt odio.
                </div>
              </div>

            </li>
            <li class="row color_question">
              <div class="span2">
                <img src="http://placehold.it/110x60/"/>
              </div>
              <div class="span9">
                <div class="user_activity_content">

                <b>TITLE -- Question</b>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula mi non metus sollicitudin in porta nunc condimentum. Cras eleifend, mauris vitae pretium varius, nisl urna laoreet ligula, sit amet lacinia est sem tincidunt odio.
                </div>
              </div>

            </li>
          </ul>
      </div>






    </div>
  </div>
</body>
