<div id="container">
  
    <div id="content">
    	<div class="row">
      <div class="row" id="carousel">
      <div class="span6">
  		<img src="/assets/dummy_carousel.png" />
	  </div>
  	  <div class="span5">
        <h1>Welcome fdafdafs AppCivist!</h1>
      <br />
      <p id="carousel_desc_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas, tortor et imperdiet aliquam, ante magna eleifend lectus, ut scelerisque tortor sapien eget quam. Nullam vel metus nec mauris molestie aliquam vel pharetra eros. Suspendisse quis lacus eu nulla molestie suscipit. lacus eu nulla molestie.</p> </div>
    </div>
      <div class="row" id="featured">
        <div class="span4 featuredbox">
            <h1>Column #1</h1>
            <p>Content for column #1.</p>
        </div>
        <div class="span4 featuredbox">
            <h1>Column #2</h1>
            <p>Content for column #2.</p>
        </div>
        <div class="span4 featuredbox">
            <h1>Column #3</h1>
            <p>Content for column #3.</p>
        </div>
    </div>
    </div>
  </div>
</div>

