.row
  #carousel
    .span6
      =image_tag('dummy_carousel.png')
    .span5.carousel_text
      .row
        %h2 Welcome to AppCivist
      .row
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas, tortor et imperdiet aliquam, ante magna eleifend lectus, ut scelerisque tortor sapien eget quam. Nullam vel metus nec mauris molestie aliquam vel pharetra eros. Suspendisse quis lacus eu nulla molestie suscipit. lacus eu nulla molestie.</p> </div>
  #featured
    .row
      .span4.featuredbox
        %h2 How it Works
      .span4.featuredbox
        %h2 Explore a City
      .span4.featuredbox
        %h2 Real-Time City
  #sponsors
    .row
      .span4.offset4
        %h2 Local Sponsors
            
        
