<%=h @message.subject %>
<form action= "create">
   Subject: <input type="text" name="subject"/><br />
   Body: <input type="text" name="body" value="47"/><br />
   Send To: <input type ="text" name="sendTo">
   <input type="submit" value="create"/>
 </form>