<h1>Categories</h1>
<ul>
<% @categories.each do |category| %>
<li><%=category.name%></li>
<%end %>
</ul>
WHAT IS GOING ON BRO
  <%= form_for @category do |f| %>
  <%=  f.autocomplete_field :name, welcome_autocomplete_category_name_path %>
  <% end %>
