#challenge_leftPane {
  margin-left: 40px;
  a {
    text-decoration: underline;
  }
}
ul.show_options {
  margin-top: -10px;
  margin-bottom: 10px;
  li {
    display: inline;
    margin-right: 10px;
  }
  
  
}

.challenge_image {
  width: 290px;
  height: 240px;
  margin-right: 10px;
}
textarea {
  background-color: #
}
