#navbar {
	z-index: 10;
	padding: 5px 0px 14px 0px;
	height: 75px;
	background-color: #e64f48;/*#ed1c24;*/
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.280);
    -moz-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.280);
    -webkit-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.280);
   	
  
}
.navbar_exploring {
	margin-top: -20px;
	margin-left: 80px;
	}   
#navbar a:hover {
	border: none;
	background: none;
}
#navbar a, #navbar { 

	color: #ffffff;
}
ul.nav li {

		margin-left: -5px;
 
	
}
.navform {
	margin-left: -100px;
	margin-top: -13px;
	
}
#mainBox {
	padding: 0px;
}
.navbar {
	padding: 0px 0px 0px 122px;
	margin-left: -70px;
}
.navbar li a:hover {
	text-decoration: underline;
}