// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

ul.user_list_results {
  li {
    padding: 10px;
  }
  li.Question {     
    background-color: $question-color;
  }
  li.Event {
    background-color: $event-color;
  }
  li.Challenge {
    background-color: $challenge-color;
  }
}
